@model List<WebProgramlamaProje.Models.Appointment>

<h2>Randevularım</h2>

<table class="table">
    <thead>
        <tr>
            <th>Salon</th>
            <th>Çalışan</th>
            <th>Hizmet</th>
            <th>Tarih ve Saat</th>
            <th>Ücret</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Salon.Name</td>
                <td>@appointment.Employee.Name @appointment.Employee.Surname</td>
                <td>@appointment.Service.Name</td>
                <td>@appointment.AppointmentDateTime.ToString("dd.MM.yyyy HH:mm") - @appointment.AppointmentDateTime.AddMinutes(appointment.Service.Duration).ToString("HH:mm")</td>
                <td>@string.Format("{0:C}", appointment.Service.Price)</td>
                <td>
                    @if (appointment.IsConfirmed == true)
                    {
                        <span class="text-success">Onaylandı</span>
                    }
                    else if (appointment.IsConfirmed == false)
                    {
                        <span class="text-danger">Onay Verilmedi</span>
                    }
                    else
                    {
                        <span class="text-warning">Onay Bekliyor</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>